DESCRIPTION !text !filter !merge !diff
*.R !text !filter !merge !diff
NAMESPACE !text !filter !merge !diff
*.md !text !filter !merge !diff
*.Rproj !text !filter !merge !diff
*.Rd !text !filter !merge !diff

*.html linguist-detectable=false
