*.rds filter=lfs diff=lfs merge=lfs -text
DESCRIPTION !text !filter !merge !diff
*.R !text !filter !merge !diff
NAMESPACE !text !filter !merge !diff
*.md !text !filter !merge !diff
*.Rproj !text !filter !merge !diff
*.Rd !text !filter !merge !diff
